.container{
    display: flex;
    justify-content: center;
  
    gap: 20px;
}

.container > *{
    background-color: beige;
    flex-basis: 400px;
}

.plan-button{
    padding: 10px;
    background-color: #ff6600;
    color: #fff;
    border-radius: 5px;
    border: none;
}

@media(max-width:1250px){
    .container{
        flex-direction: column;
        height: 100%;
    }
}